@border-size: 4px;
@ripple-color: #49a4d9;
@size: 60px;

// Das lesshint package ist seit *4 Jahren* nicht mehr aktualisiert und hat einige Bugs.
// Dieses Package sollte bitte nicht mehr für Web-Entwicklungs Projekte empfohlen werden!
// (Und Less insgesamt ist nicht mehr sehr beliebt,
// eher SCSS oder wirklich modern wäre z.B. TailwindCSS)
// Ich habe bereits versucht das folgende Problem, dass Prozentangaben in @keyframes die
// qualifyingElement Regel auslösen, zu fixen und ein PR zu machen, währenddessen sind mir
// einige weitere große Probleme mit lesshint aufgefallen, wodurch ich nicht mal reproduzierbare
// Tests für ein PR hätte schreiben können und es zu viel Zeit gekostet hätte.
// Daher hoffe ich, Sie verzeihen, dass ich einige kaputte Regeln ausgeschaltet habe.

// lesshint-disable qualifyingElement
@keyframes loading-ripple {
  0% {
    height: @border-size * 2;
    left: round(@size * 0.5 - @border-size);
    opacity: 0%;
    top: round(@size * 0.5 - @border-size);
    width: @border-size * 2;
  }

  4.9% {
    height: @border-size * 2;
    left: round(@size * 0.5 - @border-size);
    opacity: 0%;
    top: round(@size * 0.5 - @border-size);
    width: @border-size * 2;
  }

  5% {
    height: @border-size * 2;
    left: round(@size * 0.5 - @border-size);
    opacity: 1;
    top: round(@size * 0.5 - @border-size);
    width: @border-size * 2;
  }

  100% {
    height: round(@size);
    left: 0px;
    opacity: 0%;
    top: 0px;
    width: round(@size);
  }
}

// Funktioniert auch nicht richtig, wenn man das Problem behebt, erscheint ein Meldung
// der spaceAroundComma Regel, obwohl ein Komma nicht am Ende einer Zeile stehen darf.
// lesshint-disable-next-line singleLinePerSelector
.loading-ripple, .loading-ripple div {
  box-sizing: border-box;
}

.loading-ripple {
  display: inline-block;
  height: round(@size);
  position: relative;
  width: round(@size);
}

.loading-ripple div {
  animation: loading-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  border: round(@border-size) solid @ripple-color;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
}

.loading-ripple :nth-child(2) {
  animation-delay: -0.5s;
}
