@import (inline) '../../build/tailwind.generated.css';
@import 'bootstrap-icons';
@import 'loading-ripple';
@import 'page-header';

.min-page-height {
  min-height: calc(100vh - 64px);
}

#main-page {
  background: url("/assets/img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
